* {
  margin: 0;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .navContainer {
    float: none;
    width: 100%;
  }
}

.header{
display: flex;
justify-content: space-evenly;
height: 10vh;
background-color: #010101;
}

.logoContainer{
    width: 70%;
    margin-top: 1%;
    margin-left: 5%;
    color:#c4c4c4;
    font-family: "alex brush", cursive;
    font-size:x-large; 
    padding-left: 0.5%;
}

.navContainer{
    display: flex;
    justify-content: space-around;
    width: 30%;
    color:#c4c4c4;
    font-family: ds-digital;
    font-weight:lighter;
    text-align:right;
    margin-top: 2%;
margin-right: 5.5%;
}

.hero{
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
    background-image: url("../images/daw.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    background-color: #010101;
    }
    
    .leftHeroBlank{
        width: 20%;
        background:transparent;
    }
    
    .ctrHeroText{
        background:transparent;
    }
     
    .intro {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: monospace;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 1.5;
        color: whitesmoke;
        text-align: center;
        background: transparent;
      }

    .foregrd {
        position: absolute;
        float: right;
        right: 0%;
             bottom: 0%;
                    vertical-align: bottom;
                    z-index: 100;
                        }

    .footer{
        display: flex;
        justify-content: center;
        height: 30vh;
        background-image: url("../images/blackwood.jpg");
        background-size: 100vw;
      }
        
        .phonesContainer{
            width: 20%;
        }

        .phones{
            width: 20%;
            margin-left: 5%;
            position: absolute;
            bottom: 0%;
            filter: brightness(0.8) contrast(1.1);
        }

        .boardContainer{
            width: 60%;
            background-color: transparent;
            background-image: url("../images/board.png"); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: 65%;
        }

        .padContainer{
            display: flex;
            justify-content: center;
            height: 90%;
            width: 38%;
            margin-left: 26%;
            flex-wrap: wrap;
            gap: 2.5%;
            row-gap: 0.5%;
        }


        .faxpad{
            box-shadow: 0px 1px 2px 2px #FF00C7;
            margin: 6% 0% 0% 0%;
            height: 40%;
            width: 21%;
            font-family: ds-digital;
            font-weight: lighter;
            color:#c4c4c4;
            padding-left: 1%;
            background-image: url("../images/blankPad.png"); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: 110%;
        }

        .sklzpad{
            box-shadow: 0px 1px 2px 2px #00FFE1;
            margin: 6% 0% 0% 0%;
            height: 40%;
            width: 21%;
            font-family: ds-digital;
            font-weight: lighter;
            color:#c4c4c4;
            padding-left: 1%;
            background-image: url("../images/blankPad.png"); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: 110%;
        }

        .prjxpad{
            box-shadow: 0px 1px 2px 2px #14EC11;
            margin: 6% 0% 0% 0%;
            height: 40%;
            width: 21%;
            font-family: ds-digital;
            font-weight: lighter;
            color:#c4c4c4;
            padding-left: 1%;
            background-image: url("../images/blankPad.png"); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: 110%;
        }

        .mailpad{
            box-shadow: 0px 1px 2px 2px #EC4915;
            margin: 6% 0% 0% 0%;
            height: 40%;
            width: 21%;
            font-family: ds-digital;
            font-weight: lighter;
            color:#c4c4c4;
            padding-left: 1%;
            background-image: url("../images/blankPad.png"); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: 110%;
        }

        .rsmepad{
            box-shadow: 0px 1px 2px 2px #FF0035;
            margin: 0% 0% 0% 0%;
            height: 40%;
            width: 21%;
            font-family: ds-digital;
            font-weight: lighter;
            color:#c4c4c4;
            padding-left: 1%;
            background-image: url("../images/blankPad.png"); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: 110%;
        }

        .lnkdpad{
            box-shadow: 0px 1px 2px 2px #0600FF;
            margin: 0% 0% 0% 0%;
            height: 40%;
            width: 21%;
            font-family: ds-digital;
            font-weight: lighter;
            color:#c4c4c4;
            padding-left: 1%;
            background-image: url("../images/blankPad.png"); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: 110%;
        }

        .gitpad{
            box-shadow: 0px 1px 2px 2px #BD00FF;
            margin: 0% 0% 0% 0%;
            height: 40%;
            width: 21%;
            font-family: ds-digital;
            font-weight: lighter;
            color:#c4c4c4;
            padding-left: 1%;
            background-image: url("../images/blankPad.png"); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: 110%;
        }

        .behcpad{
            box-shadow: 0px 1px 2px 2px #FCFF55;
            margin: 0% 0% 0% 0%;
            height: 40%;
            width: 21%;
            font-family: ds-digital;
            font-weight: lighter;
            color:#c4c4c4;
            padding-left: 1%;
            background-image: url("../images/blankPad.png"); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: 110%;
        }

        .mouseContainer{
            width: 20%;
            background-image: url("../images/mouse.png"); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: 40%;
            background-position-x: -16%;
            filter: brightness(1) contrast(1.29);
        }

        .bottom-right {
            position: absolute;
            bottom: 0%;
            right: -5%;
            font-family: monospace;
            font-weight: lighter;
            color: #f5f5f5;
            transform: translate(-50%, -50%);
            text-align: right;
            z-index: 200;
          }

          
.volbar {
    position: absolute;
    right: 580px;
    bottom: 35px;
    font-family: ds-digital;
    font-weight: normal;
    color: #f5f5f5;
    text-align: center;
    background: transparent;
  }

  .vol{
      background:transparent;
  }
  
  .trkbar {
    position: absolute;
    right: 525px;
    bottom: 35px;
    font-family: ds-digital;
    font-weight: normal;
    color: #f5f5f5;
    text-align: center;
    background: transparent;
  }
  
  .fader {
    position: absolute;
    right: 587px;
    bottom: 70px;
    background: transparent;
  }
  
  .faderr {
    position: absolute;
    right: 530px;
    bottom: 119px;
    background: transparent;
  }

  .grid {
    position: absolute;
    display: grid;
    right: 45%;
    bottom: 37%;
    grid-template-rows: 1fr;
    grid-template-areas: "arrow preload";
  }

  .gridChild {
    height: 0px;
  }

  .preload {
    grid-area: preload;
    text-align: center;
  }
  .slide {
    animation: slideArrow 1.8s infinite;
  }
 @keyframes slideArrow {
    from {
      margin-right: -6vh;
    }
    50% 
    {
      margin-right: 30vh;
    }
    to {
      margin-right: -6vh;
    }
  }

  .controls{
      position: absolute;
      left: 39%;
      top: 5%;
      opacity: 0.1;
      height: 2%;
      box-shadow: 0px 0px 8px 8px whitesmoke;
      border-radius: 25%;
      
  }
