*{
    margin: 0;
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .navContainer {
      float: none;
      width: 100%;
    }
  }

.foregrd {
    position: absolute;
    float: right;
    right: 0%;
         bottom: 0%;
                vertical-align: bottom;
                z-index: 100;
                    }

.header{
display: flex;
justify-content: space-evenly;
height: 10vh;
background-color: #010101;
}

.logoContainer{
    width: 80%;
    text-align: left;
    margin-top: 1%;
    margin-left: 17%;
    font-family: "alex brush", cursive;
    font-size:x-large; 
}

.navContainer{
    display: flex;
    justify-content: space-around;
    width: 20%;
    font-family: ds-digital;
    font-weight: lighter;
    text-align:right;
    margin-top: 2%;
    margin-right: 17%;
}

.hero{
    display: flex;
    justify-content: center;
    height: 60vh;
    background-image: url("../images/daw2.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    background-color: #010101;
    }
    
.mailBox{
    display: flex;
    justify-content: center;
    width: 66%;
    box-shadow: 0px 0px 5px 5px #EC4915;
    margin: auto;
    background:#010101;
    height: 96%;
    background-image: url("../images/beachmail.png"); 
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100vh;
}

.footer{
    display: flex;
    justify-content: center;
    height: 30vh;
    background-image: url("../images/blackwood.jpg");
    background-size: 100vw;
  }
    
    .phonesContainer{
        width: 20%;
        background-image: url("../images/phones.png");
        background-size: 90%;
        background-position:right;
        background-repeat: no-repeat;
    }
    .boardContainer {
        width: 60%;
        height: 100%;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 2fr;
        grid-template-rows: 4% 40% 40% 0%;
        gap: 5% 0.5%;
        grid-auto-flow: row;
        grid-template-areas:
          ". . . . . ."
          "buffer faxPad sklzPad prjxPad mailPad volFader"
          "buffer rsmePad lnkdPad githPad behcPad volFader"
          ". . . . . .";
          background-image: url("../images/board.png");
          background-size: 70%;
          background-repeat: no-repeat;
          background-position: center;
          background-position-y: -1%;
      }
      
      .volFader { grid-area: volFader; 
    }
      
      .mailPad { grid-area: mailPad;            
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 90%;
        font-family: ds-digital;
        font-size: xx-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%; }
      
      .behcPad { grid-area: behcPad;
        box-shadow: 0px 1px 2px 2px #FCFF55;
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 90%;
        font-family: ds-digital;
        font-size: xx-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%; }
      
      .prjxPad { grid-area: prjxPad;
        box-shadow: 0px 1px 2px 2px #14EC11;
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 90%;
        font-family: ds-digital;
        font-size: xx-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%; }
      
      .lnkdPad { grid-area: lnkdPad; 
        box-shadow: 0px 1px 2px 2px #0600FF;
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 90%;
        font-family: ds-digital;
        font-size: xx-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%;}
      
      .sklzPad { grid-area: sklzPad; 
        box-shadow: 0px 1px 2px 2px #00FFE1;
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 90%;
        font-family: ds-digital;
        font-size: xx-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%;}
      
      .githPad { grid-area: githPad;
        box-shadow: 0px 1px 2px 2px #BD00FF;
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 90%;
        font-family: ds-digital;
        font-size: xx-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%; }
      
      .rsmePad { grid-area: rsmePad;
        box-shadow: 0px 1px 2px 2px #FF0035;
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 90%;
        font-family: ds-digital;
        font-size: xx-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%; }
      
      .faxPad { grid-area: faxPad; 
        box-shadow: 0px 1px 2px 2px #FF00C7;
        background-image: url("../images/blankPad.png"); 
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 90%;
        font-family: ds-digital;
        font-size: xx-large;
        font-weight: bold;
        color:#c4c4c4;
        padding-left: 3%;}
      
      .buffer { grid-area: buffer; }
  
    .mouseContainer{
        width: 20%;
        background-image: url("../images/mouse.png"); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;
        background-position-x: -16%;
    }
  


        .bottom-right {
            position: absolute;
            bottom: 0%;
            right: -5%;
            font-family: monospace;
            font-weight: lighter;
            color: #f5f5f5;
            transform: translate(-50%, -50%);
            text-align: right;
            z-index: 200;
          }


  #delayedText{
    position: absolute;
    top: 38%;
    right: 11%;
    transform: translate(-50%, -50%);
    text-align: right;
    vertical-align: top;
    color: whitesmoke;
    font-family: monospace;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.5;
    opacity: 0.8;
  }

  .controls{
    position: absolute;
    left: 38%;
    top: 5%;
    opacity: 0.1;
    height: 2%;
    box-shadow: 0px 0px 8px 8px whitesmoke;
    border-radius: 25%;
}

.w3-button{
  font-family: ds-digital;
  font-weight: bolder;
  font-size: larger;
  background-color: rgb(255, 196, 0);
  border-color: rgb(0, 69, 158);
  border-width:thick;
  border-radius: 60%;
  height: 10%;
  margin-top: 30%;
  margin-left: 82%;
  z-index: 1;
}

