*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    background-color: #010101;
}

@media screen and (max-width: 600px) {
    .navContainer {
      float: none;
      width: 100%;
    }
  }
  
.foregrd {
    position: absolute;
    float: right;
    right: 0%;
         bottom: 0%;
                vertical-align: bottom;
                z-index: 100;
                background-color: transparent;
                    }

.header{
display: flex;
justify-content: space-evenly;
height: 11vh;
background: transparent;
}

.logoContainer{
    width: 20%;
    text-align: left;
    margin-top: 1%;
    color:#c4c4c4;
    font-family: "alex brush", cursive;
    font-size:x-large; 
}

.navContainer{
    display: flex;
    justify-content: space-around;
    width: 20%;
    font-family: ds-digital;
    font-weight: lighter;
    color:#c4c4c4;
    text-align:center;
    margin-top: 2%;
}

.hero{
    display: flex;
    justify-content: center;
    height: 61vh;
    }
    
.prjxBox{
    display: flex;
    width: 60%;
    box-shadow: 0px 0px 5px 5px #14EC11;
    margin: auto;
    justify-content: left;
    background:transparent;
height: 96%;
margin-left:20%;
overflow-x: auto;
overflow-y: hidden;
}

    .footer{
        display: flex;
        height: 28vh;
        width: 100vw;
        background-image: url("../images/blackwood.jpg");
        }

        .phonesContainer{
            width: 20%;
            background-color: transparent;
        }

        .phones{
            width: 19%;
            margin-left: 5%;
            position: absolute;
            bottom: 0%;
            background-color: transparent;
            filter: brightness(0.8) contrast(1.1);
        }

        .boardContainer{
            width: 60%;
            background-color: transparent;
            background-image: url("../images/board.png"); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%;
        }

        .padContainer{
            display: flex;
            justify-content: center;
            height: 95%;
            width: 35%;
            margin-left: 28%;
            background-color: transparent;
            flex-wrap: wrap;
            gap: 1.8%;
        }

        .faxpad{
            box-shadow: 0px 1px 2px 2px #FF00C7;
            height: 38%;
            margin-top: 6%;
        }

        .sklzpad{
            box-shadow: 0px 1px 2px 2px #00FFE1;
            height: 38%;
         margin-top: 6%;
        }

        .prjxpad{
            height: 38%;
            margin-top: 6%;
        }

        .mailpad{
            box-shadow: 0px 1px 2px 2px #EC4915;
            height: 38%;
            margin-top: 6%;
        }

        .rsmepad{
            box-shadow: 0px 1px 2px 2px #FF0035;
            height: 38%;
            margin-bottom: 5%;
        }

        .lnkdpad{
            box-shadow: 0px 1px 2px 2px #0600FF;
            height: 38%;
            margin-bottom: 5%;
        }

        .gitpad{
            box-shadow: 0px 1px 2px 2px #BD00FF;
            height: 38%;
            margin-bottom: 5%;
        }

        .behcpad{
            box-shadow: 0px 1px 2px 2px #FCFF55;
            height: 38%;
            margin-bottom: 5%;
        }

        .mouseContainer{
            width: 20%;
            background-image: url("../images/mouse.png"); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: 40%;
            background-position-x: -16%;
            background-color: transparent;
            filter: brightness(1) contrast(1.29);
        }

        .bottom-right {
            position: absolute;
            bottom: 0%;
            right: -5%;
            font-family: monospace;
            font-weight: bold;
            color: #f5f5f5;
            transform: translate(-50%, -50%);
            text-align: right;
            z-index: 200;
            background-color: unset;
          }

          
.volbar {
    position: absolute;
    right: 590px;
    bottom: 35px;
    font-family: ds-digital;
    font-weight: normal;
    color: #f5f5f5;
    text-align: center;
    background: transparent;
  }

  .vol{
      background:transparent;
  }
  
  .trkbar {
    position: absolute;
    right: 535px;
    bottom: 35px;
    font-family: ds-digital;
    font-weight: normal;
    color: #f5f5f5;
    text-align: center;
    background: transparent;
  }
  
  .fader {
    position: absolute;
    right: 597px;
    bottom: 85px;
    background: transparent;
  }
  
  .faderr {
    position: absolute;
    right: 540px;
    bottom: 122px;
    background: transparent;
  }

  #delayedText{
    position: absolute;
    top: 53%;
    left: 86%;
    transform: translate(-50%, -50%);
    color: #c4c4c4;
    font-family: monospace, sans-serif;
    letter-spacing: 0.5px;
    background: transparent;
  }